.Home-Container {
  background-image: url("https://i.pinimg.com/originals/4e/80/76/4e8076838b1e96e81f9312bee41b188f.jpg");
  background-repeat: repeat;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas:
    "header     header    header  header header   header       header"
    ". leftLine        leftLine  headline rightLine   rightLine       ."
    ". colOne   .       colTwo .        colThr  ."
    ". wInfo        wInfo       wInfo wInfo        wInfo       ."
    ". .        .       placeHolder .        .       ."
    ". footer        footer  footer footer   footer       .";
}

@media (max-width: 635px) {
  .Home-Container {
    background-repeat: repeat;
    grid-template-areas:
      "header header        header  header header   header       header"
      ". .        headline       headline headline        .       ."
      ". .        .       colOne .        .       ."
      ". .        .       colTwo .        .       ."
      ". .        .       colThr .        .       ."
      ". .        .       wInfo .        .       ."
      ". .        .       placeHolder .        .       ."
      ". footer        footer  footer footer   footer       .";
  }
}

.Left-Line {
  grid-area: leftLine;
}

/* .Home-Header {
  grid-area: header;
  height: 40px;
  background-image: radial-gradient(
    circle at 0% 0%,
    #0e0f14,
    #252736 51%,
    #0e0f14
  );;
  margin-bottom: 20px;
} */

.Home-Headline {
  grid-area: headline;
  color: #d4d4d4;
  font-size: 2rem;
  font-weight: 250;
  margin-bottom: 50px;
}

.Placeholder {
  grid-area: placeHolder;
  height: 200px;
}

.Home-Footer {
  grid-area: footer;
  height: 1px;
  background-image: radial-gradient(
    circle at 0% 0%,
    #474b63,
    #363847 51%,
    #2f3038
  );
  margin-top: 120px;
  margin-bottom: 60px;
}

/* ---------------------------------- LOCATION FIELDS --------------------------------------- */

.Field-Content {
  height: 498px;
  width: 378px;
  background: rgb(231, 231, 231);
  background-image: radial-gradient(
    circle at 0% 0%,
    rgb(223, 223, 223),
    rgb(197, 197, 197) 51%,
    rgb(184, 184, 184)
  );
  border-radius: 10px;

  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-areas:
    ".  F-header      F-header         F-header         F-header       F-header     ."
    ".  F-head-ln     F-head-ln        F-head-ln        F-head-ln      F-head-ln    ."
    ".  image         image            image            image          image        ."
    ".  WIB1          WIB2             WIB3             WIB4           WIB5         ."
    ".  filler        filler           filler           filler         filler       .";
  grid-template-rows: 55px 1px 170px;
}

.Wrapper-Div-Meerbusch {
  grid-area: colOne;
  height: 500px;
  width: 380px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  background-color: rgb(53, 53, 53);
  box-shadow: 0 0 5px #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 635px) {
  .Wrapper-Div-Meerbusch {
    width: 370px;
  }
}


.Wrapper-Div-Ibiza {
  grid-area: colTwo;
  height: 500px;
  width: 380px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  background-color: rgb(53, 53, 53);
  box-shadow: 0 0 5px #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper-Div-Aurach {
  grid-area: colThr;
  height: 500px;
  width: 380px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  background-color: rgb(53, 53, 53);
  box-shadow: 0 0 5px #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Field-Header {
  grid-area: F-header;
  font-size: 1.2rem;
  font-weight: 200;
}

.Field-Header-Line {
  grid-area: F-head-ln;
  height: 1px;
  width: 80%;
  background-color: lightslategray;
  justify-self: center;
}

.Field-image {
  grid-area: image;
  align-self: center;
  justify-self: center;
  width: 300px;
  height: 150px;
  /* margin-top: 5px; */
  border-radius: 10px;
  box-shadow: 0 0 8px #92878c;
}

img {
  border-radius: 10px;
}

.W-I-B-1 {
  grid-area: WIB1;
}
.W-I-B-2 {
  grid-area: WIB2;
}
.W-I-B-3 {
  grid-area: WIB3;
}
.W-I-B-4 {
  grid-area: WIB4;
}
.W-I-B-5 {
  grid-area: WIB5;
}

/* ---------------------------------- FLIGHT BUTTON --------------------------------------- */

.Flight-Button-Wrapper {
  grid-area: filler;
}
.Flight-Button {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  /* border: none; */
}

.Flight-Button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px #92878c;
}

/* ---------------------------------- DETAILED INFO FIELD--------------------------------------- */

.Detailed-Field-Wrapper {
  grid-area: wInfo;
  justify-self: center;
  height: 280px;
  width: 600px;
  border-radius: 10px;
  /* background: linear-gradient(21deg, rgb(192, 252, 252), rgb(192, 252, 252));
  box-shadow: 0 0 13px rgb(192, 252, 252); */

  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: emerge-desktop 2s;
}

@media (max-width: 635px) {
  .Detailed-Field-Wrapper {
    width: 380px;
    height: none;
  }
}

@keyframes emerge-desktop {
  0% {
    width: 0px;
  }
  100% {
    width: 600px;
  }
}

.Detailed-Field-Content {
  height: 278px;
  width: 598px;
  border-radius: 10px;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
  color: white;
  display: grid;
  grid-template-areas: 
  ". . CloseBtn"
  "DFCHeader DFCHeader DFCDate"
  "DFCH1 DFCH2 DFCH3"
  "DFCC1 DFCC2 DFCC3"
  ;
  animation: emerge-desktop 2s;
  grid-template-rows: 15px  ;
  grid-template-columns: 1fr 1fr 1fr  ;
}

@keyframes appear {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.CloseBtn{
  grid-area: CloseBtn;
  justify-self: right ;
  margin-right: 15px;
  animation: appear 3s;

}

.CloseBtn:hover{
  cursor: pointer;
}

.DFC-Header{
  grid-area: DFCHeader;
  justify-self: left;
  align-self: baseline;
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  animation: appear 3s;
}

.DFCC-text{
  font-size: 1rem;
  font-weight: 250;
  justify-self: left;
  animation: appear 5s;
}

.DFCC-image{
  animation: appear 5s;
}


.DFCH1{
  grid-area: DFCH1;
  justify-self: left;
  margin-left: 5px;
  animation: appear 4s;

}

.DFCC1{
  grid-area: DFCC1;
  justify-self: left;
  margin-left: 15px;
}

.DFCH2{
  grid-area: DFCH2;
  justify-self: left;
  margin-left: 5px;
  animation: appear 4s;

}

.DFCC2{
  grid-area: DFCC2;
  justify-self: left;
  margin-left: 15px;
}

.DFCH3{
  grid-area: DFCH3;
  justify-self: left;
  margin-left: 5px;
  animation: appear 4s;

}

.DFCC3{
  grid-area: DFCC3;
  justify-self: left;
  margin-left: 15px;
}